.feed-container {
    width: 90%;
    margin: 1em auto;
    border: 1px black;
    .title{
        margin: 0 3em;
        text-align: left;
    }
}

.products_list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 0.5em;
    overflow: hidden;
    @media (min-width:40em) {
        width: 70%;
        // 
    }
}