@use './variables' as v;

.feed-container {
    width: 100%;
    margin: 0.5em auto;
    border: 1px black;
    .title{
        margin:0 3em 1em;
        text-align: left;
    }
}

.products_list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    gap:1em;
    overflow: hidden;
    
    @media (min-width:40em) {
        width: 90%;
        // 
    }
}