@use './variables' as v;



.navbar{
    font-size: 1.3rem;
    font-family: v.$primary_font_family;
    font-weight: 900;
    font-style: italic;
    margin-top: 0;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    background: v.$dark-gray;
    position: relative;
    
    a {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: v.$primary_font_family;
            font-weight: 900;
            padding: 0em 2rem;
            font-style: italic;
            color: v.$white;
    
          
            
        }

   
    .navbar-start{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        @media (min-width:40em) {
            
            padding-left: 5rem;
        }
        a{
            border-inline: 1px solid v.$light-gray;
            width: 5em;
            height: 100%;
            text-align: center  ;
            margin: 0;
            &:hover {
                    color: v.$white;
                    background: v.$light-gray;
                }
                
            }
            #navbar-icon {
                // pointer-events: none;
                border: none;
                background: v.$dark-gray;

            }
            .hamburger{
                display: none;
            }

            @media (max-width:40em){
                .submenu-container{
                    display: none;
                }
                .hamburger {
                    display: flex;
                    flex-direction:column;
                    justify-content: center;
                    gap:5px;
                    align-items: center;
                    width: 3em;
                    height: 100%;
                    position: relative;
                    span{
                        border-radius: 20px;
                        background: v.$white;
                        width: 70%;
                        height: 10%;
                        color: v.$white;
                    }

                    &:hover {
                        background: v.$light-gray;
                        .submenu-container{
                                display:flex ;
                                position: absolute;
                                top:50%;
                                right: 100px;
                        }
                    }
                }

            }
            .submenu-container{
                position: relative;
                height: 100%;
                &:hover .submenu-content{
                    
                    color: v.$white;
                    background: v.$light-gray;
                    display: block ;
                    transition: ease-in;
                    &:hover{
                        background: v.$dark-gray;
                        color: v.$black;
    
                    }
                    
                    
                }
                
                .submenu-content{
                    position: absolute;
                    top: 100%;
                    display: none;
                    a{
                        border: 1px solid v.$black;
                    }
                }
            
        }

    .store-icon {
        font-size: 1.5em;
        font-weight: 900;
        width: 100%;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        text-align: center;
        position: relative;
       
        .icon {
            position: relative;
            top: 5px;
            color: v.$hover-color;
        }
    }
    }
 

////////////////// *
// ///  Navbar end
// /// 

//     */
        .navbar-end {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            font-size: 1.5em;
           
            .icon{
                width: auto;
                font-size: 1.3em;
                padding-top:13px;
            }
   
}



       



//         button {

//             width: 5rem;
//             border-radius: 1em;
//             font-size: 1.6rem;
//             font-weight: 900;
//             background: v.$background-color;
//             // font-weight: 900;

//             &:hover {
//                 background: v.$hover-color;
//                 color: v.$background-color;
//             }
// }
   
    
}



